.searchbar {
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 2px;
}
.searchbar input {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid var(--base-hover-light);
    /* background-color: orange; */
    padding: 0px 5px;
}